export const measurements = {
  influx: {
    <measurement>: {
      key: '<lpp key>', // optional if value === <measurement>
      channels: { 1: '<influx key for 1>', 3: '<influx key for 3>' },
    },
  ...
  },
}
